    <div>
        <h3>Written By: <?php echo $post->name; ?></h3>
        <div><?php echo $post->email; ?></div>
        <p>
            <div><?php echo $post->text; ?></div>
            <div><a href="<?php echo $this->url('post', array('action' => 'post', 'id' => $post->id)); ?>">see more</a></div>
        </p>
        
    </div>