<?php

$title = 'Blog Test';
$this->headTitle($title);
$saveUrl = $this->url('post', ['action' => 'add']);
$formUrl = $this->url('post', ['action' => 'form']);
?>
<h1><?php echo $title; ?></h1>
<div id="addLayer">
    <button id="add" type="button">New Post</button>
</div>
<div id="form" style="display: none;">
    <div></div>
    <button type="button" id="savebutton">Save</button>
    <button type="button" id="cancelbutton">Cancel</button>
    <input type="hidden" id="saveUrl" value="<?php echo $saveUrl; ?>" />
    <input type="hidden" id="formUrl" value="<?php echo $formUrl; ?>" />
</div>
<div id="noItem" <?php echo (count($posts)) > 0 ? 'style="display:none;"' : ''; ?>><i>No post yet.</i></div>
<div id="items">
<?php foreach ($posts as $post) {
    echo $this->partial('blog/index/partial/post.phtml', array('post' => $post));
} ?>
</div>
