<?php

$this->headTitle($post->name);
$saveUrl = $this->url('comment', ['action' => 'add']);
$formUrl = $this->url('comment', ['action' => 'form', 'post_id' => $post->id]);

$linkBack = '<a href="' . $this->url('home') . '">back</a>';

?>

<div>
    
    <h1>Written By: <?php echo $post->name; ?></h1>
    
    <div><?php echo $post->email; ?></div>
    <?php echo $linkBack; ?>
    <p>
        <?php echo $post->text; ?>
    </p>
</div>

<div id="addLayer">
    <button id="add" type="button">New Comment</button>
</div>
<div id="form" style="display: none;">
    <div></div>
    <button type="button" id="savebutton">Save</button>
    <button type="button" id="cancelbutton">Cancel</button>
    <input type="hidden" id="saveUrl" value="<?php echo $saveUrl; ?>" />
    <input type="hidden" id="formUrl" value="<?php echo $formUrl; ?>" />
</div>

<h3>Comments</h3>
<div id="noItem" <?php  echo (count($comments) > 0) ? 'style="display:none;"' : ''; ?>><i>No comment yet.</i></div>
<div id="items">
<?php 
foreach ($comments as $comment) {
    echo $this->partial('blog/comment/partial/comment.phtml', array('comment' => $comment));
} ?>
</div>
<?php echo $linkBack; ?>
