    <div>
        <strong>Written By: <?php echo $comment->name; ?></strong>
        <div><?php echo $comment->email; ?></div>
        <p>
            <?php echo $comment->text; ?>
        </p>
    </div>